USE [master]
GO
/****** Object:  Database [ShopBridgeDBStore]    Script Date: 05-07-2021 19:46:20 ******/
CREATE DATABASE [ShopBridgeDBStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBridgeDBStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopBridgeDBStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBridgeDBStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopBridgeDBStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBridgeDBStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBridgeDBStore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05-07-2021 19:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 05-07-2021 19:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210618110839_InitialCreate', N'5.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210627113721_InitialCreate2', N'5.0.7')
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price]) VALUES (1, N'OnePlus CE 5G', N'OnePlus CE 5G Mobile', CAST(27999.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price]) VALUES (2, N'Moto G 5G', N'Moto G 5G Mobile', CAST(21999.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price]) VALUES (3, N'Samsung M42 5G', N'Samsung M42 5G Mobile', CAST(22999.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
USE [master]
GO
